absl-py==2.3.0
accelerate==1.10.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.9
aiosignal==1.3.2
altair==5.5.0
annotated-types==0.7.0
anyio==4.9.0
astor==0.8.1
async-timeout==5.0.1
attrs==25.3.0
av==15.0.0
bitsandbytes==0.45.5
blake3==1.0.5
cachetools==6.1.0
cbor2==5.6.5
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
cloudpickle==3.1.1
colorama==0.4.6
compressed-tensors==0.10.2
contourpy==1.3.0
cupy-cuda12x==13.5.1
cycler==0.12.1
datasets==3.6.0
decord==0.6.0
deepspeed==0.12.6
depyf==0.19.0
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
dnspython==2.7.0
einops==0.6.1
einops-exts==0.0.4
email_validator==2.2.0
eval_type_backport==0.2.2
evaluate==0.4.2
exceptiongroup==1.3.0
fastapi==0.116.1
fastapi-cli==0.0.8
fastapi-cloud-cli==0.1.5
fastrlock==0.8.3
ffmpy==0.6.1
filelock==3.18.0
# flash_attn==2.8.2
fonttools==4.58.1
frozenlist==1.6.2
fsspec==2025.3.0
gguf==0.17.1
gitdb==4.0.12
GitPython==3.1.44
gradio>=4.16.0
gradio_client>=0.8.1
h11==0.16.0
hf-xet==1.1.3
hjson==3.1.0
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.34.3
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
inquirerpy==0.3.4
interegular==0.3.3
Jinja2==3.1.6
jiter==0.10.0
joblib==1.5.1
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
kernels==0.9.0
kiwisolver==1.4.7
lark==1.2.2
latex2mathml==3.78.0
llguidance==0.7.30
llvmlite>=0.44.dev0
lm-format-enforcer==0.10.12
lxml==5.4.0
markdown-it-py==3.0.0
markdown2==2.5.3
MarkupSafe==2.1.5
matplotlib==3.9.4
mdurl==0.1.2
mistral_common==1.8.3
modelscope==1.28.2
mpmath==1.3.0
msgpack==1.1.1
msgspec==0.19.0
multidict==6.4.4
multiprocess==0.70.16
narwhals==1.48.0
networkx==3.2.1
ninja==1.11.1.4
nltk==3.9.1
numba>=0.60.0
numpy>=1.23,<2.0
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-ml-py==12.575.51
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
openai==1.90.0
opencv-python-headless>=4.10.0
orjson==3.11.0
outlines_core==0.2.10
packaging==25.0
pandas>=2.0.0
partial-json-parser==0.2.1.1.post6
peft==0.16.0
pfzy==0.3.4
pillow==10.4.0
platformdirs==4.3.8
portalocker==3.1.1
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.22.1
prompt_toolkit==3.0.51
propcache==0.3.1
protobuf==6.31.1
psutil==7.0.0
py-cpuinfo==9.0.0
pyarrow==20.0.0
pybase64==1.4.2
pycountry==24.6.1
pycparser==2.22
pydantic==2.11.5
pydantic-extra-types==2.10.5
pydantic_core==2.33.2
pydub==0.25.1
Pygments==2.19.2
pynvml==12.0.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-json-logger==3.3.0
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.2
pyzmq==27.0.1
qwen-vl-utils==0.0.11
ray==2.48.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rich==14.0.0
rich-toolkit==0.14.9
rignore==0.6.4
rouge_score==0.1.2
rpds-py==0.26.0
ruff==0.12.4
sacrebleu==2.5.1
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.13.1
semantic-version==2.10.0
sentencepiece==0.2.0
sentry-sdk==2.33.2
shellingham==1.5.4
shortuuid==1.0.13
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soundfile==0.13.1
soxr==0.5.0.post1
starlette==0.47.2
svgwrite==1.4.3
sympy==1.14.0
tabulate==0.9.0
threadpoolctl==3.6.0
tiktoken==0.10.0
timeout-decorator==0.5.0
timm==1.0.19
tokenizers==0.21.4
tomli==2.2.1
tomlkit==0.12.0
# torch==2.7.1
torchaudio==2.7.1
torchvision==0.22.1
tqdm==4.67.1
transformers==4.55.0
triton==3.3.1
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
uvicorn==0.35.0
uvloop==0.21.0
vllm==0.10.0
wandb==0.21.0
watchfiles==1.1.0
wavedrom==2.0.3.post3
wcwidth==0.2.13
websockets==11.0.3
xformers==0.0.31
xgrammar==0.1.21
xxhash==3.5.0
yarl==1.20.0
zipp==3.22.0
bert-score
pillow
tqdm
PyYAML
requests
beautifulsoup4
html5lib
openpyxl
huggingface_hub
# python -m pip install -U \
#   "huggingface_hub<1.0" \
#   "transformers>=4.56,<5" \
#   "tokenizers>=0.22,<0.24" \
#   "accelerate<2" \
#   "safetensors>=0.4"
# python -m pip install "https://github.com/Dao-AILab/flash-attention/releases/download/v2.8.3/flash_attn-2.8.3+cu12torch2.7cxx11abiTRUE-cp310-cp310-linux_x86_64.whl"
# python -m pip install -U hf_transfer

# export HF_HUB_ENABLE_HF_TRANSFER=1
# export HF_TOKEN="hf_xxx..." # （一定要设置，设置后限速没那么明显）
# # 下载 RealHiTBench 数据集到指定路径
# mkdir -p /mnt/data2/projects/pan/4xin/datasets/RealHiTBench

# python - << 'PY'
# import os
# from huggingface_hub import snapshot_download

# os.environ["HF_HUB_ENABLE_HF_TRANSFER"] = "1"

# snapshot_download(
#     repo_id="spzy/RealHiTBench",
#     repo_type="dataset",
#     local_dir="/mnt/data2/projects/pan/4xin/datasets/RealHiTBench",
#     local_dir_use_symlinks=False,   # avoid symlink-to-cache surprises
#     resume_download=True,           # continue if interrupted
# )
# print("✅ Download complete.")
# PY

# # 下载 Qwen3-VL-8B-Instruct 模型到指定路径
# python - <<'PY'
# import os
# from huggingface_hub import snapshot_download

# snapshot_download(
#     repo_id="Qwen/Qwen3-VL-8B-Instruct",
#     repo_type="model",
#     local_dir="/mnt/data2/projects/pan/4xin/models/Qwen3-VL-8B-Instruct",
# )
# print("✅ Model download complete.")
# PY

# pip install huggingface-hub==0.34.3